SMTP_PASS=password

MAIL_FROM=john@example.com
MAIL_TO=jane@example.com
MAIL_CC=alice@example.com, bob@example.com
MAIL_BCC=mike@example.com
MAIL_REPLY_TO=sarah@example.com
MAIL_ATTACHMENTS=/path/to/file.pdf, /path/to/image.png
